/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --color-primary: #151515;
    --color-secondary: #4ee1a0;
    --color-dark-gray: #242424;
    --color-light-gray: #d9d9d9;
    --color-white: #fff;
    --color-danger: #ff6f5b;
  }
}

@layer components {
  .btn {
    @apply inline-block uppercase leading-[1.625] tracking-[2.29px] font-bold border-b-2 border-secondary py-[5px] px-1 hover:text-secondary transition-colors active:text-secondary;
  }

  .project-thumbnail:hover .project-thumbnail-overlay {
    @apply opacity-100;
  }

  .container {
    @apply max-w-[375px] mx-auto px-4 tablet:max-w-[768px] desktop:max-w-[1142px];
  }

  .section-heading {
    @apply text-[2.5rem] font-bold leading-[1] -tracking-[1.14px] tablet:text-[4.5rem] tablet:-tracking-[2.05px] desktop:text-xl;
  }
  .form-input {
    @apply block w-full border-b border-white bg-transparent placeholder:uppercase p-[8px_23px] text-input focus:outline-none focus:border-secondary;
  }

  .error-message {
    @apply text-danger text-[0.75rem] font-medium -tracking-[0.17px] leading-[1] mt-[5px] text-right;
  }

  .logo {
    @apply font-bold text-m tablet:text-[2rem] tablet:leading-[1] -tracking-[0.33px] tablet:-tracking-[0.44px];
  }

  .social-icon {
    @apply transition-all fill-white hover:fill-secondary;
  }
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus,
.form-input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  caret-color: #ffffff;
}

#main-header {
  background:
    url("/images/pattern-rings.svg") -342px 124px no-repeat,
    url("/images/pattern-circle.svg") right -65px top 254px no-repeat;
}

#main {
  background: url("/images/pattern-rings.svg") right -342px top 540px no-repeat;
}

#contact {
  background-color: var(--color-dark-gray);
  background-image: url("/images/pattern-rings.svg");
  background-position: left -342px bottom 269px;
  background-repeat: no-repeat;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  #main-header {
    background:
      url("/images/pattern-rings.svg") -265px 86px no-repeat,
      none;
  }

  #hero-container {
    background: url("/images/pattern-circle.svg") right -65px bottom 53px no-repeat;
  }

  #main {
    background: url("/images/pattern-rings.svg") right -330px top 387px no-repeat;
  }

  #contact {
    background-color: var(--color-dark-gray);
    background-image: url("/images/pattern-rings.svg");
    background-position: left -362px bottom 130px;
    background-repeat: no-repeat;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  #main-header {
    background:
      url("/images/pattern-rings.svg") -100px 133px no-repeat,
      none;
  }

  #hero-container {
    background: url("/images/pattern-circle.svg") right 380px bottom 174px
      no-repeat;
  }

  #main {
    background: url("/images/pattern-rings.svg") right -243px top 252px no-repeat;
  }

  #contact {
    background-color: var(--color-dark-gray);
    background-image: url("/images/pattern-rings.svg");
    background-position: left -206px bottom 219px;
    background-repeat: no-repeat;
  }
}
