/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --color-primary: #151515;
    --color-secondary: #4ee1a0;
    --color-dark-gray: #242424;
    --color-light-gray: #d9d9d9;
    --color-white: #fff;
  }
}

@layer components {
  .btn {
    @apply inline-block uppercase leading-[1.625] tracking-[2.29px] font-bold border-b-2 border-secondary py-[5px] px-1 hover:text-secondary transition-colors active:text-secondary;
  }

  .project-thumbnail:hover .project-thumbnail-overlay {
    @apply opacity-100;
  }

  .container {
    @apply max-w-[375px] mx-auto px-4 tablet:max-w-[768px] desktop:max-w-[1142px];
  }

  .section-heading {
    @apply text-[2.5rem] font-bold leading-[1] -tracking-[1.14px] tablet:text-[4.5rem] tablet:-tracking-[2.05px] desktop:text-xl;
  }
  .form-input {
    @apply block w-full border-b border-white bg-dark-gray  placeholder:uppercase p-[8px_23px] text-input focus:outline-none focus:border-secondary;
  }

  .logo {
    @apply font-bold text-m tablet:text-[2rem] tablet:leading-[1] -tracking-[0.33px] tablet:-tracking-[0.44px];
  }
}
